:root{
    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-orange: #03DAC5;

}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to bottom right,#2d2d2d 0%,#414141 40%, #343434 50%, rgb(39, 39, 39) 60% )
   

}

img{
    width: 40px;
    
    
}
.ProfilePicture{
    width: 300px;
}
.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:left;
    
}
.header{
    background-color: var(--color-dark2);
    box-shadow: 1px 1px 4px color;
    height: 56px;
    justify-content: space-between;
    padding: 0 10%;
}
.navigation_header{
    gap: 16px;
    
}
.navigation_header a{
    
        
        color: #03DAC5;
        text-decoration: none;
        transition: 2s;
        font-weight: bold;

   
}
.content{
    text-align: center;
    padding-top: 10px;
    height: 100vh;
    transition: 1s;
    justify-content: space-evenly;
}
.profilePic{
border-radius: 50%;
width: 150px;
display:flex;
justify-content: center;
box-shadow: 1px 1px 4px var(--color-dark4);
}
.aboutMe{
    justify-content: space-evenly;
}

.tituloHome{
    color:#03DAC5
}

section{
    padding: 45px;
    background-color: #1c1c1c;
    border-radius: 15px;
    width:500px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    box-shadow: 2px 15px 20px #1c1c1c;
    
}

header img{
width: 140px;


}
header h3{
    color:#03DAC5
    
    font-size 1.35 rem;

}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:25px;

}

main a{
    background-color:#03DAC5;
    padding: 15px 0;
    text-decoration: none;
    color:#fff;
    border-radius: 3px;
    box-shadow: 5px 5px #6ac4bb;
    transition:all .5s ease-in-out;
}
main a hover{
    opacity: .85;

}
header h3, p{
    color: #fff;
}
header img{
border-radius: 90%;
display: flex;
width: 200px;

}
h1{
    color: #fff;
}
