@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-orange: #03DAC5;

}
*{
    font-family:'Red Hat Display';
    margin:0;
    padding:0;
    box-sizing: border-box;
    

}

body{
    font-size: small;
    background-color: #343434; 


}

img{
    width: 40px;
    
    
}
.ProfilePicture{
    width: 400px;
}
.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    font-size: medium;
    -shadow: 2px 15px 20px #1c1c1c;
}
.header{
    background-color: var(--color-dark2);
    box-shadow: 1px 1px 4px color;
    height: 56px;
    justify-content: space-between;
    padding: 0 10%;
}
.navigation_header{
    gap: 16px;
    
}
.navigation_header a{
    
        
        color: #AF69EE;
        text-decoration: none;
        transition: 2s;
        font-weight: bold;

   
}
.content{
    text-align: center;
    padding-top: 10px;
    height: 100vh;
    transition: 1s;
    justify-content: space-evenly;
}
.profilePic{
border-radius: 50%;
width: 150px;
display:flex;
justify-content: center;
align-items: center;
box-shadow: 1px 1px 4px var(--color-dark4);
}
.aboutMe{
    justify-content: space-evenly;
}

.tituloHome{
    color:#AF69EE
}
h2{
    color: #fff;
}

/*CARD HOME PAGE */

section{
    padding: 45px;
    background-color: #1c1c1c;
    border-radius: 15px;
    width:500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    box-shadow: 2px 15px 20px #1c1c1c;
    
}

header img{
width: 140px;
display: flex;
justify-content: center;
align-items: center;


}
header h3{
    color:#AF69EE
    
    font-size 1.35 rem;

}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:25px;

}

main a{
    background-color:#AF69EE;
    padding: 15px 0;
    text-decoration: none;
    color:#fff;
    border-radius: 3px;
    box-shadow: 5px 5px #E4A0F7;
    transition:all .5s ease-in-out;
}
main a hover{
    opacity: .85;

}
header h3, p{
    color: #fff;
}
header img{
border-radius: 90%;
display: flex;
width: 200px;
align-items: center;
justify-content: center;

}
h1{
    color: #fff;
}
footer{
    width: 100%;
    color:#fff;

/* FOOTER */

}
#footer_content{
    background-color:var(--color-dark2);
    display: grid;
    grid-template-columns: repeat(4, 1fe);
}

#footer_contacts{
margin-bottom: 0.75rem;
}

.footer_social_media{
    
    gap: 2rem;
    margin-top: 2px;
    width: 300px;

}

.footer-link{
    color: white;
    width: 800px;
    border-radius: 50%;
    gap:6px;

}
.projeto{
    display: flex;
    color:#fff;
    width: 30px;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    

}

section.sobre{
    display:flex;
    padding: 40px 4%;
    color:#fff;



}

.about .txt-sobre{
    color:#fff;


}
.inteface{
    display: flex;
    align-items: left;
    gap:60px;
   
}
.txt-sobre h2{
    font-size: 40px;
  


}
.txt-sobre h2 span{
    color:#AF69EE;
    display:block
}


/* CARDS PROJETOS */

.container{
    height: auto;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem, 0;
}
.card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;

}
.card{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin:3rem, 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #fff;
    cursor:pointer;
    transition: 0.5s;
    
}
.cardtext{
  
    letter-spacing: 1px;
    color:#AF69EE
}
.cardwrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;

}
.cardwrapper::before{
    content: '';
    position:absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display:block;
    border:1px solid #fff;
    opacity: 0;
    transition: 0.5s;
}
.cardwrapper h2{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    transition: 0.5s;

}

/*FORMS */

.forms{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background-color: #1c1c1c;
    width: 500px;
}
.forms h2{
    color:#fff;
    margin: 2rem;

}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    color: #f5f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}
form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;

}

form input:focus{
    border-radius: 16px;
}

form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin: 30px;
    transition: all 0.5s;

}
form textarea:focus{
    border-radius: 16px;
}

form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #fff;
    color:#f5f5f5f5;
    transition:all 1s;
    margin-bottom: 20px;

}

form button:hover{
    background-color: #AF69EE;
    color:#AF69EE;
    border-radius: 10px;
}

/* TELA DE OBRIGADO */

.textoObrigado{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

.paragrafo{
    .textoObrigado{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        flex-direction: column;
    }
}

/*BLOG */

.centralizar-Container h2{
    display: flex;
    align-items:cell;
    justify-content: start;
    flex-direction: column;
    
}
.centralizar-Container p{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}
.centralizar-Container img{
    width: 300px;
    display: flex;
    align-items: left;
    justify-content: left;
    

}
